<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Update Page</title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
</head> 
<body style="background: url(https://media.istockphoto.com/photos/black-brick-wall-dark-background-for-design-picture-id639173848?b=1&k=20&m=639173848&s=170667a&w=0&h=s3lYaOtetdbj7HLHPIwin0HITi0vF3ZHPFtVrcDkXXc=)"> 
    <div class="container"> 
        <form action="/gizmospizza/update/{{ user.id }}" method="POST">  
            <div class="link_rows" id="link_header_space">  
                <p>Hello {{ user.first_name }}!</p>  
                <div> 
                    <a href="/gizmospizza/menu">Menu</a> 
                    <a href="/gizmospizza/logout" class="link_spacer_lf">Log Out</a> 
                </div> 
            </div> 
            <img src="/static/img/GizmosPizzaLogo.png" alt="GizmoLogo" class="gizmo_logo"> 
            <h2>Update Your Customer Info</h2> 
            <div class="row_maker_update"> 
                <div class="name_column_updt"> 
                    <div class="input-group mb-3"> 
                        <label for="first_name" class="label_font">First Name:</label> 
                        <input type="text" name="first_name" value="{{ user.first_name }}"> 
                    </div> 
                    <div class="input-group mb-3"> 
                        <label for="last_name" class="label_font">Last Name:</label> 
                        <input type="text" name="last_name" value="{{ user.last_name }}"> 
                    </div> 
                </div> 
                <div class="address_column_updt">
                    <div class="input-group mb-3"> 
                        <label for="address" class="label_font" id="address_updt_rh">Address:</label> 
                        <input type="text" name="address" value="{{ user.address }}"> 
                    </div> 
                    <div class="input-group mb-3"> 
                        <label for="city" class="label_font" id="city_updt_rh">City:</label> 
                        <input type="text" name="city" value="{{ user.city }}"> 
                    </div> 
                    <div class="input-group mb-3"> 
                        <label for="state" class="label_font" id="state_updt_rh">State:</label> 
                        <select name="state"> 
                            <option value="AZ">AZ</option> 
                            <option value="CA">CA</option> 
                            <option value="CO">CO</option> 
                            <option value="NV">NV</option> 
                            <option value="NM">NM</option> 
                            <option value="OR">OR</option> 
                            <option value="TX">TX</option> 
                            <option value="UT">UT</option> 
                            <option value="WA">WA</option> 
                        </select> 
                    </div> 
                    <div> 
                        <label for="zip_code" class="label_font" id="space_below">Zip Code:</label> 
                        <input type="text" name="zip_code" value="{{ user.zip_code }}"> 
                    </div> 
                </div>
            </div>
            <button type="submit" class="update_button">Update</button> 
            <a href="/gizmospizza/account" class="link_spacer_lf">Back</a> 
        </form> 
    </div> 
</body> 
</html> 
